<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Corona Admin</title>
    <!-- plugins:css -->

</head>

<body>
    <form method="post" enctype="multipart/form-data">
        <div class="container-scroller" style="padding: 0 0 0 236px;">

            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Movies</h4>
                        <form class="form-sample">
                            <p class="card-description"> </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Movie Name</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="name" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label">Description</label>
                                        <div class="col-sm-9">
                                            <input type="text" name="description" class="form-control" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Date</label>
                                    <div class="col-sm-9">
                                        <input type="datetime-local" class="form-control" name="date" />
                                    </div>
                                </div>
                            </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Type</label>
                            <div class="col-sm-4">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="type" id="membershipRadios1"
                                            value="ar" checked> Arabic </label>
                                </div>
                            </div>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="type" id="membershipRadios2"
                                            value="en"> English </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="card-description"></p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">imageName</label>
                                <div class="col-sm-9">
                                    <input type="file" name="image" style="display: block;" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">ReleaseDate</label>
                                <div class="col-sm-9">
                                    <input class="form-control" type="date" name="ReleaseDate"
                                        placeholder="dd/mm/yyyy" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">ShowTime</label>
                                <div class="col-sm-9">
                                    <input type="time" name="ShowTime" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" name="addBtn">Add</button>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">

                            </div>

                        </div>
                    </div>
                </div>

            </div>

    </form>

</body>

</html>